ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h4,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* .section-paddings{ 
    padding-bottom: 60px;
    padding-top: 60px;
} */

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    color: #434455;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
}

/* =========== HEADER =========== */
.header-page{
    border-bottom: 1px solid #e7e9fc;
}

.nav-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-container{
    display: flex;
    justify-content: space-between;
}

.logo-top{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.text-black{
    color: #2e2f42;
}

.menu {
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}

.address-page{
    font-style: normal;
}

.address-list{
    display: flex;
}
.address-link:not(:last-child){
   margin-right: 40px;
}

.contact{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact:hover,
.contact:focus{
    color: #404bbf;
}

/* ========= HERO ========= */
.hero-page{
    background: #2e2f42;
    max-width: 1440px;
    padding: 188px 0;
}

.hero-container{
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 331px;
    padding-right: 331px;
}

.hero-txt{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.butt{
    background: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #ffffff;
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }

.butt:hover,
.butt:focus{
    background: #404bbf;
}

/* ======== BENEFITS ========= */
.rew{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
}

.benefits-list-item{
    width: calc((100% - 72px) / 4);
}

.head-benefits{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-txt{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========= OUR TEAM ========== */
.container-team{
    padding: 32px 0;
}

.team-page{
    background: #f4f4fd;
    padding: 120px 0;
}

.team-head{
    margin-bottom: 72px;
}

.our-team-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
}

.team-list{
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.name-block{
padding: 32px 0;
}

.team-proff{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* ========== PORTFOLIO ========= */
.portf{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portf-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portf-title{
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-list-item{
    width: calc((100% - 48px) / 3);
}

.names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.apps-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========== FOOTER ========== */

.footer-page{
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-txt{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.logo-bottom{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.span-white{
    color: #f4f4fd;
}

